*.xcbkptlist
*.xcuserstate
*.swp
*~.nib

build/,

*.pbxuser
*.perspective
*.perspectivev3

GridChaser.xcodeproj/xcuserdata/*
GridChaser.xcodeproj/project.xcworkspace/xcuserdata/*

*.mode1v3
*.mode2v3
Breakpoints.xcbkptlist